src/main/mule/password-manager-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <!-- 
    	********************************************************************************
    	**		API MAIN FLOW														  **
    	********************************************************************************
	-->
    <flow name="password-manager-api-main" doc:id="552b5356-b2e3-494a-9c5b-3bbd177958bb">
        <!-- <http:listener doc:name="Listener" doc:id="e38920ae-9809-4c37-aeae-185d5dcbfe4c" config-ref="${secure::password-manager-api.anypoint.listener.config-ref}" path="${secure::password-manager-api.anypoint.base-path}"> -->
        <http:listener doc:name="Listener" doc:id="7525f939-018f-4f9b-8850-44f4f64d427c" config-ref="password-manager-api-https" path="${secure::password-manager-api.anypoint.base-path}/*">
            <non-repeatable-stream />
            <http:response statusCode="#[vars.httpStatus default 200]" reasonPhrase="#[vars.reasonPhrase default &quot;OK&quot;]">
                <http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.logHeader.correlation_id
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.reasonPhrase default &quot;Internal Server Error&quot;]">
                <http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.logHeader.correlation_id
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="common-utilities.InitRequest" doc:id="4f9f16fd-4b0d-4fee-91b1-96575499be37" name="common-utilities.InitRequest" />
        <logger level="DEBUG" doc:name="End Logger" doc:id="ab39a3e7-6575-4160-9580-0b0f8e31eaef" message='#[%dw 2.0 output application/json --- vars.logHeader ++ {"credentials": vars.credentials}]' category="com.ase.ism.diagnostics" />
		<apikit:router doc:name="APIkit Router" doc:id="efa9ffbc-cc4b-4715-a8e2-dd2a8edeab3f" config-ref="password-manager-api-router" />
    </flow>
    <!-- 
    	********************************************************************************
    	**		DO AUTH FLOW					         					  **
    	********************************************************************************
	-->
    <flow name="post:\actions\auth:application\json:password-manager-api-router">
        <logger level="DEBUG" doc:name="Start Logger" doc:id="f369ad60-cd97-48f2-9a1c-32f30b2d0f94" message="#[%dw 2.0 output application/json --- vars.logHeader ++ {&quot;event&quot;: &quot;Start flow Do Auth&quot;}]" category="com.ase.ism.diagnostics" />
        <ee:transform doc:name="Set passphraseHash" doc:id="16db942d-5f6a-4b7c-bbd1-256fbf762f18">
            <ee:variables>
                <ee:set-variable variableName="passphraseHash"><![CDATA[%dw 2.0
output application/java

import java!ro::ase::ism::crypto::MessageDigestUtils
import java!ro::ase::ism::crypto::CryptoUtils
---
CryptoUtils::byteToBase64(MessageDigestUtils::getStringHash(vars.inputPayload.passphrase, "SHA-256"))]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Set systemApi, payload" doc:id="1b48feed-0129-4173-a979-f81918de707c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
null]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="systemApi" ><![CDATA[%dw 2.0
output application/json
---
{
	protocol: "HTTP",
	http_method: "POST",
	base_path: "",
	host: "mule-worker-internal-password-manager-api.us-e2.cloudhub.io",
	port: "8091",
	path: "/token",
	custom_headers: {
		client_id: vars.clientId,
		client_secret: vars.passphraseHash,
		grant_type: "${secure::oauth.grant-types.client-credentials}"
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
        <try doc:name="Try" doc:id="a8d74104-c256-4286-bcd0-7b9db8114ed0">
            <oauth2-provider:create-client doc:name="Create client" doc:id="5d612e5e-d329-46d6-b5b3-242d7090c7aa" config-ref="oauth2-provider-config" clientId="#[vars.clientId]" type="CONFIDENTIAL" secret="#[vars.passphraseHash]" authorizedGrantTypes="#[[&quot;CLIENT_CREDENTIALS&quot;]]" failIfPresent="true" />
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c23a2714-3b37-445e-bcea-de4f31c026e4" type="ANY">
                    <logger level="DEBUG" doc:name="Logger" doc:id="799754b6-a50d-41b0-8760-9716f9421a03" message="#[%dw 2.0 output application/json --- vars.logHeader ++ {&quot;event&quot;: &quot;Client already registered.&quot;}]" category="com.ase.ism.diagnostics" />
                </on-error-continue>
            </error-handler>
        </try>
        <flow-ref doc:name="common-utilities.callSystemApi" doc:id="250077d8-5640-4877-b671-165d3bcb8da8" name="common-utilities.callSystemApi" />
        <ee:transform doc:name="Set response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	meta: {
		status: "succeeded",
		messages: [{
			code: "OK",
			text: "Request was successful",
			level: "info"
		}]
	},
	data: {
		access_token: payload.access_token,
    	token_type: payload.token_type,
    	expires_in: payload.expires_in
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="DEBUG" doc:name="End Logger" doc:id="7d4900e3-d1a8-40d5-89c9-3bbaf4d3894f" message="#[%dw 2.0 output application/json --- vars.logHeader ++ {&quot;event&quot;: &quot;End flow Do Auth&quot;}]" category="com.ase.ism.diagnostics" />
    </flow>
    <!-- 
    	********************************************************************************
    	**		GET ACCOUNTS FLOW    					         					  **
    	********************************************************************************
	-->
    <flow name="get:\accounts:password-manager-api-router">
        <logger level="DEBUG" doc:name="Start Logger" doc:id="625f8518-93c5-4bf1-9ae6-b467798520fe" message='#[%dw 2.0 output application/json --- vars.logHeader ++ {"event": "Start flow Get Accounts"}]' category="com.ase.ism.diagnostics" />
		<ee:transform doc:name="Set domain, returnFullResponse" doc:id="58ce2dba-b1c7-4b6a-9bf4-163a337ed094" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="domain" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.domain default null]]></ee:set-variable>
				<ee:set-variable variableName="returnFullResponse" ><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.return_full_response == true) true else false]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  meta: {
    status: "succeeded",
    messages: [
      {
        code: "OK",
        text: "Request was successful",
        level: "info"
      }
    ]
  },
  data: [
    {
      id: 1,
      username: "username@email.com",
      password: "securePassw0rd123!",
      tags: [
        "github", 
        "personal"
      ],
      domain: "github.com"
    }, 
    {
      id: 2,
      username: "testUsername@gmail.com",
      password: "Passw0rd123!",
      tags: [
        "gmail", 
        "mail", 
        "personal"
      ],
      domain: "mail.google.com"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="DEBUG" doc:name="End Logger" doc:id="e8b4c02d-fc97-4d75-aee0-532040ff7973" message='#[%dw 2.0 output application/json --- vars.logHeader ++ {"event": "End flow Get Accounts"}]' category="com.ase.ism.diagnostics" />
    </flow>
	<flow name="password-manager-api-token-validation" doc:id="16968744-2ce2-4191-9e23-c7baf18bdc90">
        <http:listener doc:name="Listener" doc:id="89b94367-403c-4f26-83ee-e020f3f2dbb2" config-ref="password-manager-api-https" path="/validate" />
        <logger level="DEBUG" doc:name="Start Logger" doc:id="7501e001-4d89-481e-8e2d-6aa355fb6709" message="#[%dw 2.0 output application/json --- {&quot;event&quot;: &quot;Validation flow started&quot;}]" category="com.ase.ism.diagnostics" />
        <oauth2-provider:validate-token doc:name="Validate token" doc:id="969b88db-70b2-4b3c-ba2a-1b2545be0e7f" config-ref="oauth2-provider-config" />
        <ee:transform doc:name="Set payload" doc:id="e1361df9-6106-4dfb-bca5-57accf0a9449">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="DEBUG" doc:name="End Logger" doc:id="dd30e084-851a-46ee-b681-1f0877042d3b" message='#[%dw 2.0 output application/json --- {"event": "End flow Validation"}]' category="com.ase.ism.diagnostics" />
    </flow>
</mule>
