src/main/mule/password-manager-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    
	<!-- 
    	********************************************************************************
    	**		API MAIN FLOW														  **
    	********************************************************************************
	-->
    
    <flow name="password-manager-api-main" doc:id="552b5356-b2e3-494a-9c5b-3bbd177958bb">
        <!-- <http:listener doc:name="Listener" doc:id="e38920ae-9809-4c37-aeae-185d5dcbfe4c" config-ref="${secure::password-manager-api.anypoint.listener.config-ref}" path="${secure::password-manager-api.anypoint.base-path}"> -->
        <http:listener doc:name="Listener" doc:id="7525f939-018f-4f9b-8850-44f4f64d427c" config-ref="password-manager-api-https" path="${secure::password-manager-api.anypoint.base-path}/*">
            <non-repeatable-stream />
            <http:response statusCode="#[vars.httpStatus default 200]" reasonPhrase="#[vars.reasonPhrase default &quot;OK&quot;]">
                <http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.reasonPhrase default &quot;Internal Server Error&quot;]">
                <http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="common-utilities.InitRequest" doc:id="4f9f16fd-4b0d-4fee-91b1-96575499be37" name="common-utilities.InitRequest" />
		<apikit:router doc:name="APIkit Router" doc:id="efa9ffbc-cc4b-4715-a8e2-dd2a8edeab3f" config-ref="password-manager-api-router" />
    </flow>
    
	<!-- 
    	********************************************************************************
    	**		DO AUTH FLOW					         					  **
    	********************************************************************************
	-->
    
    <flow name="post:\actions\auth:password-manager-api-router">
        <logger level="DEBUG" doc:name="Start Logger" doc:id="f369ad60-cd97-48f2-9a1c-32f30b2d0f94" message='#[%dw 2.0 output application/json --- vars.logHeader ++ {"event": "Start flow Do Auth"}]' category="com.ase.ism.diagnostics" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  value: {
    meta: {
      status: "succeeded",
      messages: [
        {
          code: "OK",
          text: "Request was successful",
          level: "info"
        }
      ]
    },
    data: {
      token: "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="DEBUG" doc:name="End Logger" doc:id="7d4900e3-d1a8-40d5-89c9-3bbaf4d3894f" message='#[%dw 2.0 output application/json --- vars.logHeader ++ {"event": "End flow Do Auth"}]' category="com.ase.ism.diagnostics" />
    </flow>
</mule>
